# SMTP para o envio do e-mail de notificação
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=gomeserosiane.dev@gmail.com
SMTP_PASS=luscizmhlwiajnjo
SMTP_FROM="Novo cadastro <gomeserosiane.dev@gmail.com>"
SMTP_SECURE=true
NOTIFICATION_EMAIL=gomeserosiane.dev@gmail.com

# Assinafy
ASSINAFY_API_KEY=f7lBeUDLFGtz1kOyd6FjFoGkspr4jN8c4yjCOnJsJ5Sj60py3Q1pAl5O1eb8cpYS
ASSINAFY_BASE_URL=https://sandbox.assinafy.com.br/v1
ASSINAFY_ACCOUNT_ID=1028aeab09688f117fedc4158a8b
ASSINAFY_MANAGER_NAME=José Gomes Borges
ASSINAFY_MANAGER_EMAIL=gomeserosiane.dev@gmail.com
